parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$data of method Slim\\Routing\\RouteParser\:\:urlFor\(\) expects array\<string, string\>, array\<string, int\|null\> given\.$#'
			identifier: argument.type
			count: 2
			path: lib/GaletteObjectsLend/Controllers/Crud/ObjectsController.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/GaletteObjectsLend/Controllers/Crud/ObjectsController.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, float given\.$#'
			identifier: argument.type
			count: 1
			path: lib/GaletteObjectsLend/Controllers/Crud/ObjectsController.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: lib/GaletteObjectsLend/Controllers/MainController.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$category_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendCategory.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendCategory.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendCategory.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$category_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$dimension\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$id_adh\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$nb_available\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$object_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$price_per_day\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$rent_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$rent_price\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$serial_number\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$weight\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Loose comparison using \=\= between int and '''' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Property GaletteObjectsLend\\Entity\\LendObject\:\:\$description \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendObject.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$adherent_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$comments\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$date_begin\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$date_end\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$date_forecast\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$object_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$rent_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$status_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Loose comparison using \=\= between int and '''' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendRent.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$in_stock\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendStatus.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendStatus.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$rent_day_number\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendStatus.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$status_id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendStatus.php

		-
			message: '#^Access to an undefined property ArrayObject\<string, int\|string\>\:\:\$status_text\.$#'
			identifier: property.notFound
			count: 1
			path: lib/GaletteObjectsLend/Entity/LendStatus.php

		-
			message: '#^Cannot access property \$code on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Cannot access property \$is_text on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Cannot access property \$value_numeric on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Cannot access property \$value_text on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Class GaletteObjectsLend\\Filters\\ObjectsList has PHPDoc tag @property for property \$selected with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/GaletteObjectsLend/Filters/ObjectsList.php

		-
			message: '#^Parameter \#2 \$value of method GaletteObjectsLend\\IO\\PdfObject\:\:addCell\(\) expects string, float given\.$#'
			identifier: argument.type
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObject.php

		-
			message: '#^Property GaletteObjectsLend\\Entity\\LendObject\:\:\$cat_name \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObject.php

		-
			message: '#^Property GaletteObjectsLend\\Entity\\LendObject\:\:\$status_text \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObject.php

		-
			message: '#^Property GaletteObjectsLend\\IO\\PdfObject\:\:\$zdb is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObject.php

		-
			message: '#^Comparison operation "\>" between 0 and 0 is always false\.$#'
			identifier: greater.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Parameter \#1 \$str of method Galette\\IO\\Pdf\:\:cut\(\) expects string, float given\.$#'
			identifier: argument.type
			count: 3
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, float given\.$#'
			identifier: argument.type
			count: 2
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Parameter \#5 \$ln of method TCPDF\:\:Cell\(\) expects int, false given\.$#'
			identifier: argument.type
			count: 2
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Parameter \#7 \$fill of method TCPDF\:\:Cell\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 12
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Property GaletteObjectsLend\\IO\\PdfObjects\:\:\$filters is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 2
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, array\<int, float\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/GaletteObjectsLend/LendService.php

		-
			message: '#^Property GaletteObjectsLend\\PluginGaletteObjectslend\:\:\$zdb is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: lib/GaletteObjectsLend/PluginGaletteObjectslend.php

		-
			message: '#^Call to function array_merge\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: lib/GaletteObjectsLend/Repository/Categories.php

		-
			message: '#^Call to function is_array\(\) with array\<string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/GaletteObjectsLend/Repository/Categories.php

		-
			message: '#^Method GaletteObjectsLend\\Repository\\Categories\:\:getList\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/GaletteObjectsLend/Repository/Categories.php

		-
			message: '#^Parameter \#1 \$left of class Laminas\\Db\\Sql\\Predicate\\Operator constructor expects bool\|float\|int\|string\|null, Laminas\\Db\\Sql\\Expression given\.$#'
			identifier: argument.type
			count: 1
			path: lib/GaletteObjectsLend/Repository/Categories.php

		-
			message: '#^Property GaletteObjectsLend\\Repository\\Categories\:\:\$login is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/GaletteObjectsLend/Repository/Categories.php

		-
			message: '#^Strict comparison using \!\=\= between GaletteObjectsLend\\Filters\\CategoriesList and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: lib/GaletteObjectsLend/Repository/Categories.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/GaletteObjectsLend/Repository/Objects.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array\<string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/GaletteObjectsLend/Repository/Objects.php

		-
			message: '#^Comparison operation "\<" between int\<1, max\> and 1 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/Repository/Objects.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/Repository/Objects.php

		-
			message: '#^Strict comparison using \!\=\= between GaletteObjectsLend\\Filters\\ObjectsList and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: lib/GaletteObjectsLend/Repository/Objects.php

		-
			message: '#^Strict comparison using \=\=\= between ''pgsql'' and ''pgsql'' will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: lib/GaletteObjectsLend/Repository/Objects.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array\<string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/GaletteObjectsLend/Repository/Status.php

		-
			message: '#^Comparison operation "\<" between int\<1, max\> and 1 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/Repository/Status.php

		-
			message: '#^Property GaletteObjectsLend\\Repository\\Status\:\:\$login is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/GaletteObjectsLend/Repository/Status.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: lib/GaletteObjectsLend/Repository/Status.php

		-
			message: '#^Strict comparison using \!\=\= between GaletteObjectsLend\\Filters\\StatusList and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: lib/GaletteObjectsLend/Repository/Status.php
