parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$data of method Slim\\Routing\\RouteParser\:\:urlFor\(\) expects array\<string, string\>, array\<string, int\|null\> given\.$#'
			identifier: argument.type
			count: 2
			path: lib/GaletteObjectsLend/Controllers/Crud/ObjectsController.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/GaletteObjectsLend/Controllers/Crud/ObjectsController.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: lib/GaletteObjectsLend/Controllers/MainController.php

		-
			message: '#^Cannot access property \$code on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Cannot access property \$is_text on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Cannot access property \$value_numeric on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Cannot access property \$value_text on array\|ArrayObject\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/GaletteObjectsLend/Entity/Preferences.php

		-
			message: '#^Parameter \#5 \$ln of method TCPDF\:\:Cell\(\) expects int, false given\.$#'
			identifier: argument.type
			count: 2
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Parameter \#7 \$fill of method TCPDF\:\:Cell\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 12
			path: lib/GaletteObjectsLend/IO/PdfObjects.php

		-
			message: '#^Property GaletteObjectsLend\\IO\\PdfObjects\:\:\$filters is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/GaletteObjectsLend/IO/PdfObjects.php
